<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/admin/login.css}">
</th:block>

<th:block layout:fragment="content">
    <div class="container d-flex justify-content-center align-items-center min-vh-100 p-0">
        <div class="login-container">
            <div class="logo-section text-center">
                <h1>모두의 마트</h1>
                <p>모두가 즐거운 마트 모두의 마트</p>
            </div>

            <form th:action="@{/login}" method="post">
                <div class="mb-3 text-start">
                    <label for="email" class="form-label">이메일 주소</label>
                    <input type="email" class="form-control" id="email" name="username" placeholder="예) everyone@mart.com"
                           required oninvalid="this.setCustomValidity('올바른 이메일 형식을 입력해주세요')" oninput="this.setCustomValidity('')">
                </div>

                <div class="mb-4 text-start">
                    <label for="password" class="form-label">비밀번호</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="영어 + 숫자 + 특수문자 조합">
                </div>

                <button type="submit" class="btn btn-light btn-login-main-button">로그인</button>
            </form>

            <div class="d-flex justify-content-center link-group">
                <a th:href="@{/register}">이메일 가입</a>
                <a th:href="@{/find-email}">이메일 찾기</a>
                <a th:href="@{/find-password}">비밀번호 찾기</a>
            </div>

            <div class="social-login-buttons mt-4 d-grid gap-2">
                <button type="button" class="btn btn-light btn-social-google" onclick="alert('Google 로그인')">
                    <img src="/images/google.svg" alt="Google" >
                    Google 로그인
                </button>

                <button type="button" class="btn btn-light btn-social-naver" onclick="alert('Naver 로그인')">
                    <img src="/images/naver_icon.svg" alt="Naver">
                    Naver 로그인
                </button>
                <button type="button" class="btn btn-light btn-social-apple" onclick="alert('Apple 로그인')">
                    <img src="/images/apple.svg" alt="Apple">
                    Apple 로그인
                </button>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/login.js}"></script>
</th:block>
</html>