<nav class="navbar bg-white py-3 shadow-sm" th:fragment="header">
    <div class="headerWrapper">
        <div class="headerContainer">
            <div class="menu-left">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">마트 찾기</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">내 주변 마트</a></li>
                        <li><a class="dropdown-item" href="#">전체 마트</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">상품 보기</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">베스트 상품</a></li>
                        <li><a class="dropdown-item" href="#">신상품</a></li>
                    </ul>
                </li>
            </div>

            <a class="navbar-brand3" href="/">모두의 마트</a>

            <div class="menu-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">고객센터</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">공지사항</a></li>
                        <li><a class="dropdown-item" href="#">자주묻는 질문</a></li>
                        <li><a class="dropdown-item" href="#">문의하기</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">내 주변 가격비교</a>
                </li>
            </div>
        </div>

        <div class="auth-buttons">
            <a href="/login" class="btn-outline-dark">로그인</a>
            <a href="/signup" class="btn-dark">회원가입</a>
        </div>
    </div>
</nav>