@font-face {
    font-family: 'Paperlogy';
    src: url('/fonts/Paperlogy-8ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-paperlogy {
    font-family: 'Paperlogy', sans-serif;
}

@font-face {
    font-family: 'PartialSansKR';
    src: url("/fonts/PartialSansKR-Regular.otf") format('opentype'); /* format 수정 */
    font-weight: normal;
    font-style: normal;
}

.font-partialSansKR {
    font-family: 'PartialSansKR', sans-serif;
}

@font-face {
    font-family: 'PyeongChangPeace'; /* <<-- font-family 이름 수정 */
    src: url("/fonts/PyeongChangPeace-Bold.otf") format('opentype'); /* format 수정 */
    font-weight: normal;
    font-style: normal;
}
.font-pyeongchang { /* <<-- 클래스 이름 수정 (오타 수정 및 소문자 권장) */
    font-family: 'PyeongChangPeace', sans-serif; /* <<-- font-family 이름 수정 */
}